@charset "UTF-8";
body {
  margin: 0;
  font-family: system-ui, "Helvetica Neue", "Segoe UI", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Arial, メイリオ, Meiryo, sans-serif; }

ul {
  padding-left: 0px; }

li {
  list-style: none !important; }

.non-active {
  display: none; }

.overlay {
  background: #4b4949;
  z-index: 20;
  margin: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  position: fixed; }

/* header */
header {
  display: flex;
  height: 60px; }
  header .top-logo {
    padding: 20px;
    font-size: 22px; }
    header .top-logo h1 {
      font-size: 24px;
      display: inline;
      font-family: "Helvetica Neue", HelveticaNeue, Arial, sans-serif; }
  header a {
    text-decoration: none;
    color: #B2B2B2; }
  header .header-link_pc {
    display: flex;
    margin-left: auto;
    margin-top: 10px; }
    @media (max-width: 670px) {
      header .header-link_pc {
        display: none; } }
  header .menu-icon {
    display: flex;
    font-size: 25px;
    margin-left: auto;
    margin-top: 25px;
    margin-right: 20px; }
    @media (min-width: 670px) {
      header .menu-icon {
        display: none; } }
  header .link-list_mobile {
    display: none; }
  header li {
    font-size: 17px;
    padding: 14px;
    margin-bottom: auto; }
    header li:hover {
      background-color: #eeeeee; }

/* headerここまで */
.container {
  margin: 10px auto; }

/* topwrapper */
.top-wrapper {
  background-image: url("http://placehold.jp/400x400.png?text=TOP_IMAGE");
  background-size: cover;
  width: 100%;
  height: 200px;
  margin: 10px auto; }

.main-wrapper .main-explain {
  text-align: center;
  padding: 10px; }
  .main-wrapper .main-explain h2 {
    font-size: 22px; }
  .main-wrapper .main-explain p {
    letter-spacing: 1px;
    line-height: 2;
    padding: 12px 15px; }
    @media (max-width: 670px) {
      .main-wrapper .main-explain p {
        text-align: justify; } }

.tenpo-wrapper {
  margin: 30px 80px; }
  .tenpo-wrapper h3 {
    margin: 5px 30px;
    padding: 10px 55px;
    text-align: center;
    position: relative; }
    .tenpo-wrapper h3::before, .tenpo-wrapper h3::after {
      position: absolute;
      content: '';
      display: inline-block;
      height: 1px;
      width: 20%;
      top: 50%;
      background-color: #0a2099; }
    .tenpo-wrapper h3::before {
      left: 10%; }
    .tenpo-wrapper h3::after {
      right: 10%; }
  @media (max-width: 670px) {
    .tenpo-wrapper {
      margin: 20px 10px; } }
  .tenpo-wrapper .tenpo-list-contents {
    padding: 15px; }
    @media (min-width: 670px) {
      .tenpo-wrapper .tenpo-list-contents {
        display: flex;
        flex-wrap: wrap; } }
    .tenpo-wrapper .tenpo-list-contents .tenpo-info {
      border-bottom: 1px solid #dadada;
      padding-bottom: 10px;
      margin: 30px; }
      @media (max-width: 670px) {
        .tenpo-wrapper .tenpo-list-contents .tenpo-info {
          margin: 5px; } }
    @media (max-width: 670px) {
      .tenpo-wrapper .tenpo-list-contents .tenpo-info-detail img {
        width: 100%; } }
    .tenpo-wrapper .tenpo-list-contents .tenpo-info-detail .icon {
      margin-right: 8px;
      font-size: 17px; }
    .tenpo-wrapper .tenpo-list-contents .tenpo-info-detail .about-tenpo {
      color: #838080;
      margin: 0 10px; }
      .tenpo-wrapper .tenpo-list-contents .tenpo-info-detail .about-tenpo .tenpo-place {
        color: #838080;
        font-size: 13px;
        letter-spacing: 2px; }
      .tenpo-wrapper .tenpo-list-contents .tenpo-info-detail .about-tenpo .tenpo-average-price .fa-sun {
        color: #fa6f12; }
      .tenpo-wrapper .tenpo-list-contents .tenpo-info-detail .about-tenpo .tenpo-average-price .fa-moon {
        color: #fffb15;
        background-color: #0a2099; }
      .tenpo-wrapper .tenpo-list-contents .tenpo-info-detail .about-tenpo .tenpo-topic-list .fa-credit-card {
        color: #c53030; }
      .tenpo-wrapper .tenpo-list-contents .tenpo-info-detail .about-tenpo .tenpo-topic-list .topic-active {
        color: #0fb446; }
      .tenpo-wrapper .tenpo-list-contents .tenpo-info-detail .about-tenpo .tenpo-topic-list li {
        margin-bottom: 4px; }
  .tenpo-wrapper .next-tenpo-detail {
    padding: 11px;
    color: #919191;
    width: 180px;
    margin: 0 auto;
    text-align: center;
    display: block;
    text-decoration: none;
    border: 1px solid #8a8686; }
    .tenpo-wrapper .next-tenpo-detail:hover span {
      border-bottom: 1px solid #696969; }

.topic-wrapper {
  margin: 10px 80px; }
  .topic-wrapper h3 {
    margin: 5px 30px;
    padding: 10px 55px;
    text-align: center;
    position: relative; }
    .topic-wrapper h3::before, .topic-wrapper h3::after {
      position: absolute;
      content: '';
      display: inline-block;
      height: 1px;
      width: 20%;
      top: 50%;
      background-color: #0a2099; }
    .topic-wrapper h3::before {
      left: 10%; }
    .topic-wrapper h3::after {
      right: 10%; }
  @media (max-width: 670px) {
    .topic-wrapper {
      margin: 10px 20px; } }

footer {
  padding: 15px;
  background-color: #eee; }
  footer .footer-item h5 {
    font-size: 16px; }
  footer .footer-item a {
    color: #929292;
    text-decoration: none; }
  footer .footer-item .footer-links {
    display: flex;
    flex-wrap: wrap;
    font-size: 13px; }
    footer .footer-item .footer-links li {
      margin-right: 6px; }
  footer .copyright {
    font-size: 12px;
    color: #929292;
    text-align: center; }
