@charset "UTF-8";
h2 {
  position: relative;
  padding: 0.25em 1em;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
  text-align: center;
  font-size: 18px; }
  h2::before, h2::after {
    position: absolute;
    content: '';
    top: -7px;
    width: 2px;
    height: -webkit-calc(100% + 14px);
    height: calc(100% + 14px);
    background-color: black; }
  h2::before {
    left: 7px; }
  h2::after {
    right: 7px; }

.tenpo-image-content img {
  width: 100%;
  height: 40vw; }

.tenpo-main-wrapper {
  position: relative;
  /**
     * 店舗側が自由に入力できる項目 
     * tenpo-explain-wrapper
     * */ }
  @media (min-width: 670px) {
    .tenpo-main-wrapper {
      width: calc(100% - 450px); } }
  .tenpo-main-wrapper .tenpo-top-wrapper .tenpo-topic-wrapper {
    padding: 10px 20px; }
    .tenpo-main-wrapper .tenpo-top-wrapper .tenpo-topic-wrapper .tenpo-topic-contents {
      border-bottom: 1px solid #aaa8a8;
      margin-top: 8px; }
      .tenpo-main-wrapper .tenpo-top-wrapper .tenpo-topic-wrapper .tenpo-topic-contents .topic-detail .icon {
        margin-right: 5px; }
      .tenpo-main-wrapper .tenpo-top-wrapper .tenpo-topic-wrapper .tenpo-topic-contents .topic-detail .topic-active {
        color: #0fb446; }
      .tenpo-main-wrapper .tenpo-top-wrapper .tenpo-topic-wrapper .tenpo-topic-contents .topic-detail .topic-detail-heading {
        font-weight: bold;
        font-size: 16px; }
      .tenpo-main-wrapper .tenpo-top-wrapper .tenpo-topic-wrapper .tenpo-topic-contents .topic-detail .topic-detail-title {
        font-size: 14px;
        margin-top: 5px; }
      .tenpo-main-wrapper .tenpo-top-wrapper .tenpo-topic-wrapper .tenpo-topic-contents .topic-detail .topic-detail-description {
        color: #7a7a7a;
        font-size: 12px;
        letter-spacing: 1px; }
  .tenpo-main-wrapper .tenpo-info-wrapper {
    padding: 10px 20px;
    letter-spacing: 1px; }
    .tenpo-main-wrapper .tenpo-info-wrapper .info-item {
      border-bottom: 1px solid #aaa8a8;
      padding: 12px 0px; }
      .tenpo-main-wrapper .tenpo-info-wrapper .info-item .info-item-title {
        color: #3b5a83;
        font-size: 17px;
        margin-bottom: 8px; }
      .tenpo-main-wrapper .tenpo-info-wrapper .info-item .info-item-text {
        color: #1b1b1b;
        font-size: 13px; }
  .tenpo-main-wrapper .tenpo-explain-wrapper {
    padding: 10px 20px;
    letter-spacing: 1px; }
    .tenpo-main-wrapper .tenpo-explain-wrapper .tenpo-explain .tenpo-explain-text {
      letter-spacing: 1.7px;
      line-height: 1.8;
      color: slategray; }

.tenpo-side-wrapper {
  position: absolute;
  border: 1px solid #eeee;
  right: 30px;
  height: 300px;
  width: 380px;
  border-radius: 3px;
  box-shadow: 0 4px 6px rgba(168, 172, 175, 0.8); }
  @media (max-width: 670px) {
    .tenpo-side-wrapper {
      display: none; } }
  .tenpo-side-wrapper .btn {
    padding: 15px;
    margin: 10px 20px;
    border: 1px solid #b9b9b9;
    text-align: center;
    color: #e6e6e6;
    border-radius: 2px; }
  .tenpo-side-wrapper .reservation {
    background-color: #1088b8; }
  .tenpo-side-wrapper .favorite {
    background-color: #9b0e50; }
    .tenpo-side-wrapper .favorite .fa-star {
      color: #ffee00; }
