// モバイル用の横幅判定
$mobileMaxWidth: 670px;

.tenpo-list-wrapper {
    margin: 10px 80px;

    @media (max-width: $mobileMaxWidth) {
        margin: 20px 10px;
    }

    h2 {
        position: relative;
        padding: 10px 35px;
        text-align: center;
        color: #969696;
        font-size: 20px;

        &::before, &::after {
            position: absolute;
            content: '';
            top: 50%;
            display: inline-block;
            width: 12%;
            height: 2px;
            border-top: solid 1px black;
            border-bottom: solid 1px black;
        }

        &::before {
            left: 0;
        }

        &::after {
            right: 0;
        }
    }

    .tenpo-list {
        display: flex;
        flex-wrap: wrap;

        .tenpo-item {
            margin: 10px;
            width: 30%;
            border-top: 1px solid #888585;
            border-bottom: 1px solid #888585;

            @media (max-width: $mobileMaxWidth) {
                width: calc(50% - 20px);
            }

            img {
                width: 100%;
            }

            .item-detail {
                margin-top: 7px;
                font-size: 14px;
                color: #969696;
                word-break: break-all;

                .tenpo-item-topic {
                    font-size: 12px;

                    .icon {
                        margin-right: 4px;
                    }
                }
            }
        }
    }

    // ページネーション仮デザイン
    .pagenation {

        ul {
            display: flex;
            justify-content: center; /* 子要素をflexboxにより中央に配置する */
            align-items: center;  /* 子要素をflexboxにより中央に配置する */

            li {
                padding: 8px;
                text-align: center;
                border: 1px solid #888585;
            }
        }
    }
}

